@charset "UTF-8";

black = #131313
bg-grey = #EBEBEB
stroke-grey = #DADADA

light-grey = #464646

pink = #C35656
free = pink

wippy = #48AFB5
brand-color = wippy

red = darken(red, 25%)

clearfix()
  &:before, &:after
    content: ' '
    display: table
  &:after
    clear: both
  &
    *zoom: 1

*
  box-sizing: border-box
  font-family: 'Raleway', sans-serif
  color: black
  transition: all 100ms ease

a
  color: brand-color
  text-decoration: none
  &:hover
    color: lighten(brand-color, 10%)
  
body
  background-color: bg-grey
  padding: 0 1em

form
  h2
    color: brand-color
    text-transform: uppercase
    margin: 0.25em 0 
  h3
    margin: 0.75em 0  0.5em 0
  h5
    font-weight: 400
    text-transform: uppercase
    letter-spacing: 1px
  input[type=text]
    border: none
    border: 1px solid stroke-grey
    border-radius: 3px
    width: 100%
    padding: 0.75em 1em
    display: block
  label
    font-size: 0.85em
    margin-bottom: 0.5em
    display: block
    margin-top: 1em
  > div
    padding-right: 1em !important
    +below(600px)
      padding-right: 0em !important
  .error
    border: 1px solid red !important
    box-shadow: 0 0 8px rgba(red, 0.5)
  .error-msg
    font-size: 0.8em
    background-color: red
    border-radius: 3px
    color: white
    width: 100%
    padding: 0.5em 1em
    margin-bottom: 0.5em
    span
      color: white

.cvc-help-container
  position: relative

.cvc-help
  height: 20px
  width: 20px
  display: block
  background: url('../img/cvc-help.png')
  background-size: 20px 20px
  position: absolute
  right: 0.5em
  bottom: 0.75em
  opacity: 0.5
  +below(600px)
    bottom: 0.5em
  img
    display: none
    z-index: 120
    height: 100px
    width: 100px 
    position: absolute
    right: 0
  &:hover
    opacity: 1
    img
      display: block
.logo
  margin: 0.5em 0 0.25em
  display: block
  a
    overflow: hidden
    span
      position: absolute
      left: -999px
    

// container styling
.main-container
  > section
    border-radius: 5px
    background-color: white
    border: 1px solid stroke-grey
    > article
      padding: 0.5em 2em
      border-right: 1px solid stroke-grey
      min-height: 585px
      +below(600px)
        min-height: 0
    > footer
      border-top: 1px solid stroke-grey
      padding: 1.5em 2em
    > aside
      clearfix()
      height: 100%
      min-height: 100%
      > section
        border-bottom: 1px solid stroke-grey
        padding: 0.5em 1em
        &:last-child
          border-bottom: none
        .button
          width: 100%
          min-width: 0

// type 
.main-container
  > section
    > footer
      h3
        display: inline
        color: brand-color
        text-transform: uppercase
        font-size: 0.95em
      p
        display: inline
        font-size: 0.875em
        color: light-grey
  > footer
    text-align: center
    font-size: 0.75em
    margin: 1em 0
    +below(600px)
      font-size: 0.75em
    p 
      color: darken(stroke-grey, 15%)

p.fineprint
  font-size: 0.75em
ul.js-choose-color
  list-style-type: none
  padding: 0
  margin: 0
  text-align: center
  li
    display: inline-block
    border-radius: 30px
    transition: all 250ms ease
    position: relative
    &.selected
      a
        height: 38px
        width: 38px
        margin: 0
        position: relative
    a
      position: relative
      transition: all 100ms ease
      font-size: 2em
      display: block
      border-radius: 30px
      height: 28px
      width: 28px
      margin: 5px
      line-height: 9999px
      overflow: hidden
      //background-image: url('../img/gradient.png')
    &:last-child
      margin-right: 0

p.footnote
  color: brand-color
  width: 25%
  min-width: 150px
  font-size: 0.75em
  font-weight: 400
  &:before, .ie-before
    content: '*'
    color: free
    font-size: 2em
    display: inline-block
    float: left
    margin-right: 0.25em
    margin-top: -0.125em

.product-image
  img
    width: 90%
    margin: 0 auto
    display: block

.note
  font-size: 0.8em

.your-price-only
  text-align: center
  p
    color: brand-color
    font-weight: bold
    font-size: 3em
    line-height: 0.5em
    margin: 0 0 0.5em 0

#payment-page form
  margin-top: 1.25em
  h2
    margin-bottom: 0
  label
    margin-top: 1.2em
  .button
    margin: 3em auto
#delivery-page form
  .button
    margin: 3em auto

.secured-payments
  font-size: 0.8em
  text-align: center
  img
    display: inline-block
    height: 20px
    margin-right: 1em
    margin-bottom: 0.75em
  h5
    display: inline-block
    top: -5px
    position: relative
    margin-right: 2em
  span
    min-width: 300px
    display: inline-block
    +below(600)
      min-width: 0

img.product
  float: right
  margin: -8em 1em 1em 2em
  max-width: 100%
  +below(600px)
    width: 80%
    margin: 0 auto

h1.headline
  font-size: 4.5em
  letter-spacing: -0.05em
  line-height: 1em
  margin-top: 0.25em
  b
    color: free
    text-transform: uppercase
  i
    color: brand-color
    font-style: normal


+below(600px)
  body
    font-size: 0.9em
  aside
    section:first-child
      min-height: 150px
  .enter-email
    border-top: 1px solid stroke-grey

  #delivery-page aside
    display: none

  .button
    width: 100%
    padding: 0.5em 0.2em !important

.cc-expiration-date 
  .chosen-search
    display: none !important
  > div
    padding-right: 0.25em !important
    &:last-child
      padding-right: 0 !important

.g-t-6
  +below(800px)
    padding-right: 1em !important
    &:last-child
      padding-right: 0 !important
  +below(600px)
    padding-right: 0 !important

.arrow-down
  display: none
.included-in-this-offer
  img
    display: none
  +below(600px)
    font-size: 0.85em
    position: relative
    overflow: hidden
    ul
      grid-space(50%)
    img
      display: block
      width: 150px
      position: absolute
      right: 10px
      top: 10px
  +below(400px)
    img
      display: none
    ul
      width: 98%

.your-price-only
  img
    display: none
  +below(600px)
    font-size: 0.85em
    h2
      text-align: left
      width: 45%
      float: left
      padding-right: 1em
      white-space: nowrap
    p
      text-align: right
      width: 50%
      float: right
      margin-top: 0.5em
  +below(400px)
    min-height: 105px
    overflow: hidden
    img
      display: block
    h2
      display: block
      float: none
      position: relative
      z-index: 101
    p
      text-align: left
      float: none
      margin-top: -0.125em
      font-size: 2.75em
      position: relative
      z-index: 101
    img
      display: block
      width: 90px
      position: absolute
      right: 10px
      top: 10px
      z-index: 100
    

+below(800px)
  #front-page
    .headline
      font-size: 3.5em
      width: 90%
      span
        display: block
        font-size: 1.5em
        line-height: 1em
    img
      margin-top: 0
    .footnote
      float: right
+below(600px)
  #front-page
    article
      .headline
        width: 60%
        padding: 0
        margin-bottom: 0
        font-size: 3em
        z-index: 101
        position: relative
        span
          font-size: 1.5em
      .footnote
        position: relative
        float: left
        margin-top: 0
        z-index: 101
      img.product
        position: absolute
        bottom: 20px
        right: 20px
        width: 220px
        z-index: 100
      .arrow-down
        position: absolute
        right: 20px
        z-index: 120
        bottom: -10px
        display: block
    aside section
      padding: 1em 15%
  .logo 
    margin: 0.1em 0
    img
      width: 90px
  .product-image
    display: none
  form 
    input 
      font-size: 0.85em
    label
      margin-top: 0.5em !important
    .button
      margin: 2em auto !important
      font-size: 1.25em
    
+below(400px)
  #payment-page
    aside
      section:first-child
        min-height: 0
        padding-bottom: 1em
  #front-page
    article
      padding: 0 0.5em
      .headline
        width: 100%
        text-align: center
        padding: 0
        margin-bottom: 0
        font-size: 2.5em
        z-index: 101
        position: relative
        span
          font-size: 1.5em
      .footnote
        position: relative
        float: right
        margin-top: 5em
        margin-right: 1em
        margin-bottom: -50px
      img.product
        position: static
        display: block
        margin: 0 auto
        float: none
    aside section
      padding: 1em 
  body
    padding: 0.5em

.arrow-container
  position: relative
  img
    position: absolute
    left: -140px
    top: -10px
    +below(600px)
      display: none
