chosen-bg-color = white
chosen-color = black
chosen-sprite = 'url(../img/chosen_sprite.png)'

.chosen-container
  color: chosen-color
  background-color: chosen-bg-color
  width: 100% !important
  border: 1px solid stroke-grey
  border-radius: 3px
  padding: 0.55em 0.5em
  min-height: 44px
  font-size: 0.95em
  .chosen-drop
    box-shadow: none
    border-color: stroke-grey
    box-sizing: content-box 
    margin-left: -1px
  .chosen-results
    padding: 0
    margin: 0
    font-size: 0.95em
    li
      box-sizing: border-box 
      padding-left: 8px
      padding: 0.75em 1em
      &.highlighted, &.result-selected
        background: darken(chosen-bg-color, 10%)
        color: black

.chosen-container-single
  .chosen-single
    background: none
    box-shadow: none
    border-radius: 0
    border: 0 
    color: grey-text
    background-color: chosen-bg-color
    display: block
  .chosen-drop
    background-color: chosen-bg-color
  .chosen-search 
    input[type=text]
      background: #fff chosen-sprite no-repeat 100% -20px
      border-color: stroke-grey
    
.chosen-container-active
  .chosen-single
    border: 0
    box-shadow: none
  &.chosen-with-drop
    .chosen-single
      border: 0
      border-radius: 0
      background: none
      box-shadow: none
