@font-face 
  font-family: "lp"
  src:url("fonts/lp.eot")
  src:url("fonts/lp.eot?#iefix") format("embedded-opentype"),
  url("fonts/lp.ttf") format("truetype"),
  url("fonts/lp.svg#lp") format("svg"),
  url("fonts/lp.woff") format("woff")
  font-weight: normal
  font-style: normal

[data-icon]:before 
font-family: "lp" !important
content: attr(data-icon)
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

[class^="icon-"]:before,
[class*=" icon-"]:before 
  font-family: "lp" !important
  font-style: normal !important
  font-weight: normal !important
  font-variant: normal !important
  text-transform: none !important
  speak: none
  line-height: 1
  -webkit-font-smoothing: antialiased

.icon-check:before 
  content: "a"

.icon-circle:before 
  content: "b"
              
