.ie7 
  .main-container
    width: 960px
    margin: 0 auto
    aside
      margin-top: 1em
  ul.ul-check
    margin: 0
    padding: 0
    li
      padding: 0
      padding-left: 1em
  .js-choose-color
    li
      display: inline
      zoom: 1
      a
        behavior: url('/js/PIE.htc')
  .button
    min-width: 280px !important

  .your-price-only
    p
      line-height: 48px !important

@css {
  .ie7 p.footnote {
    zoom: expression(
      this.runtimeStyle.zoom="1",
      this.insertBefore( document.createElement("i"), this.firstChild ).className="ie-before"
    );
  }
  .ie7 .ul-circle li {
    zoom: expression(
      this.runtimeStyle.zoom="1",
      this.insertBefore( document.createElement("i"), this.firstChild ).className="ie-before"
    );
  }
  .ie7 .ul-check li {
    zoom: expression(
      this.runtimeStyle.zoom="1",
      this.insertBefore( document.createElement("i"), this.firstChild ).className="ie-before"
    );
  }
  .ie7 p.footnote .ie-before {
    zoom: expression(
      this.runtimeStyle.zoom="1",
      this.innerHTML = "*"
    );

  }
  .ie7 .ul-circle li .ie-before {
    zoom: expression(
      this.runtimeStyle.zoom="1",
      this.innerHTML = "b"
    );
  }
  .ie7 .ul-check li .ie-before {
    zoom: expression(
      this.runtimeStyle.zoom="1",
      this.innerHTML = "a"
    );
  }
}

.ie7, .ie8 
  .button
    behavior: url('/js/PIE.htc')
    position: relative
  .main-container
    section
      behavior: url('/js/PIE.htc')
  .js-choose-color
    li a
      behavior: url('/js/PIE.htc')
  .cvc-help
    display: none
