paypec-blue = #155F94

.paypec
  background-color: paypec-blue
  position: relative
  height: 40px
  margin: -20px -20px 20px -20px
  table 
    width: 100%
    height: 40px
  td
    vertical-align: middle
  img
    vertical-align: middle
    width: 82px
    height: 18px
    margin: 5px
    margin-left: 15px
  p
    text-transform: uppercase
    color: #6E9CBD
    font-family: sans-serif
    font-style: italic
    font-weight: bold
    font-size: 9px
    text-align: right
    letter-spacing: 1px 
    +below(600px)
      margin-right: 15px
.ie7 .paypec
  margin: 0 -20px 20px -20px
  max-width: 610px
