.ul-circle
  list-style-type: none
  padding: 0
  li i.ie-before,
  li:before
    content: 'b'
    font-family: 'lp'
    color: brand-color
    display: block
    float: left
    font-size: 0.425em
    position: absolute
    left: -2.75em
    top: 0.75em
  li
    font-size: 1.125em
    margin-bottom: 0.5em
    margin-left: 1.75em
    position: relative

.ul-check
  list-style-type: none
  padding: 0
  li i.ie-before,
  li:before
    content: 'a'
    font-family: 'lp'
    color: brand-color
    display: block
    float: left
    font-size: 1.75em
    position: absolute
    left: -1.125em
    top: -0.125em
  li
    font-size: 1.125em
    margin-bottom: 0.5em
    margin-left: 1.75em
    position: relative

.checkbox-in-label
  margin: 0.5em 0
  display: block
  padding-left: 20px
  text-indent: -20px
  font-style: normal
  input
    margin-right: 0.5em
    width: 13px
    height: 13px
    vertical-align: bottom
    position: relative
    top: -2px

.button
  border: none
  color: white
  text-shadow: 0 1px 0 darken(brand-color, 20%)
  background-color: brand-color
  font-weight: 600
  font-size: 1.5em
  padding: 0.5em 2em
  border-radius: 5px
  margin: 0.5em auto
  display: block
  cursor: pointer
  transition: all 150ms ease
  min-width: 250px
  &:hover
    background-color: lighten(brand-color, 10%)
  &.button-full-width
    width: 100%
  +below(400px)
    min-width: 0
