extends layout

block content
  section#delivery-page
    article.g-d-8.g-t-7.g-m-12
      form(name="register", method="get")
        h2 Delivery Details:
        .g-d-12
          label(for="address") Address
          input(name="address", type="text")
        .g-d-8.g-t-12
          label(for="city") City
          input(name="city", type="text")
        .g-d-4.g-t-12
          label(for="zipcode") Post Code/Zip Code
          input(name="zipcode", type="text")
        .g-d-8.g-t-12
          label(for="phone") Phone
          input(name="phone", type="text")
        .g-d-4.g-t-12
          label(for="country") Country
          select.js-chosen(name="country")
            option(value="uk") United Kingdom
            option(value="uk") United Kingdom
            option(value="uk") United Kingdom
            option(value="uk") United Kingdom
        .g-d-12
          input.button(type="submit", value="Continue")
          .secured-payments
            h5 Secured payments with
            span
              img(src="img/payment-icons/verified-by-visa.svg")
              img(src="img/payment-icons/mastercard-securecode.svg")
              img(src="img/payment-icons/mastercard.svg")
              img(src="img/payment-icons/visa.svg")
              img(src="img/payment-icons/geotrust.svg")

    aside.g-d-4.g-t-5.g-m-12
      section
        h2 Included in this offer:
        ul.ul-circle
          li Free iPod Shuffle 2GB
          li Postal and handling fee for your welcome gift
      section.your-price-only
        h2 Your Price Only
        p NZ$4.00
      section.product-image
        img(src="img/ipodshuffle-red.jpg")
    footer.g-d-100
      h3 What is Wippy? 
      p It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!

