extends layout

block content
  section#front-page
    article.g-d-8.g-t-7.g-m-12
      h1.headline Get an<br>iPod Shuffle 2 GB. <span><b>Free</b>!<i>*</i></span>
      p.footnote You only have to pay delivery fee of NZ$ 4.00
      img.product(src="img/ipod-pink.jpg")
      img.arrow-down(src="img/arrow-down.svg")
    aside.g-d-4.g-t-5.g-m-12
      section.what-you-get
        h2 This is what you get:
        ul.ul-check
          li Free iPod Shuffle 2GB
          li 1 day free* Wippy Gold Membership
          li 95% Guaranteed savings on luxury brands
      section.enter-email
        form(name="register", method="get")
          h2 Enter your email:
          input(name="email", type="text")
          h3 Choose a colour:
          select(name="color").js-choose-color
            option(value="black", data-color="#767579", data-img="img/ipod-black.jpg") Black
            option(value="white", data-color="#C3C3C3", data-img="img/ipod-white.jpg") White
            option(value="purple", data-color="#C392C0", data-img="img/ipod-purple.jpg") Purple
            option(value="pink", data-color="#ED8185", data-img="img/ipod-pink.jpg") Pink
            option(value="yellow", data-color="#F7F716", data-img="img/ipod-yellow.jpg") Yellow
            option(value="blue", data-color="#0BB2E1", data-img="img/ipod-blue.jpg") Blue
            option(value="green", data-color="#6FC9A0", data-img="img/ipod-green.jpg") Green
          label.checkbox-in-label
            input(type="checkbox")
            span I accept Wippy's <a href="#">Terms and Conditions</a> and allow Wippy to send me email</a>
          .arrow-container
            input.button.button-full-width(type="submit", value="Continue")
            img(src="img/arrow-right.svg")

    footer.g-d-12
      h3 What is Wippy? 
      p It is an entertainment shopping website that provides shoppers an opportunity to purchase high end items for as low as 5% of its actual retail price! Shoppers simply buy the right to bid on items and win auctions at the lowest prices anywhere!

